

@font-face {
  font-family: 'raleway';
  src: local('fonts'), url(./fonts/Raleway-Regular.woff2) format('woff2');
  font-display: swap;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html {
  font-size: 16px;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  /* font-weight: 400; */
  font-size: 0.875rem;
  overflow-x: hidden !important;
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-family: 'raleway', Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}
